:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 24px;

  --space-inner: 12px;
  --space-gap: 16px;
  --space-block: 20px;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-round: 50%;

  --z-overlay: 999;
  --z-sidebar: 1000;
  --z-burger: 1001;
  --z-modal: 10000;
}
